APP_NAME=Ultrong
APP_DEBUG=true
APP_DOMAIN=http://localhost:8095/

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ultrong
DB_USERNAME=root
DB_PASSWORD=root

STATIC_DB_HOST=127.0.0.1
STATIC_DB_PORT=3306
STATIC_DB_DATABASE=ultrong_static
STATIC_DB_USERNAME=root
STATIC_DB_PASSWORD=root

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=123456
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null