.bubble {
    font-size: 0.15rem;
    color: #222222;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 0.08rem;
    padding: 0.08rem 0.10rem;
    vertical-align: top;
    border-radius: 0.04rem;
}
.bubble:before {
    position: absolute;
    top: 0.16rem;
    display: block;
    width: 0.08rem;
    height: 0.06rem;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}
.bubble.you {
    float: left;
    background-color: #fff;
    align-self: flex-start;
    border: 0.01rem solid #ddd;
}
.bubble.me {
    float: right;
    background-color: #96eb6a;
    align-self: flex-end;
}
.bubble.you:before {
    left: -0.05rem;
    border-left: 0.01rem solid #ddd;
    border-bottom: 0.01rem solid #ddd;
    background-color: #fff;
    z-index: 1;
}
.bubble.me:before {
    right: -0.05rem;
    background-color: #96eb6a;
    z-index: 1;
}
.content {
	height: calc(100vh - 0.56rem);
	overflow-y: auto;
    padding-top: 0.05rem;
}
.content-box {
    max-width: calc(100% - 0.5rem - 0.1rem);
}
.content-box .name {
    overflow: hidden; 
    white-space: normal; 
    word-break: break-all; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 0.03rem;
    color: #a9a9a9;
}
.tips {
    text-align: center;
    color: #a9a9a9;
    padding: 0.08rem 0;
}
.avatar {
    height: 0.4rem;
    width: 0.4rem;
    margin-top: 0.08rem;
}
.other .avatar { 
    margin-right: 0.08rem;
}
.self {justify-content: flex-end;}
.self .avatar { 
    margin-left: 0.08rem;
}
.avatar img {
    border-radius: 0.04rem;
}
.footer {
	width: 100vw;
	height: 0.50rem;
	border-top: 0.01rem solid #e7e7e7e7;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}
.footer .item {
	width: 0.30rem;
	line-height: 0.50rem;
}
.footer .buttom-item {
	width: 0.48rem;
}
.footer .input-item {
	width: calc(100% - 0.1rem - 0.3rem*2 - 0.48rem);
}
.color-red {color: #c00 !important;}