#left {
	width: 100%;
    background-color: #3c444d;
}

#user-info {
	padding: 5px;
}

#left .item {
    cursor: pointer;
}

#left .item:hover {
    background: #20a53a;
    opacity: 1;
    color: #FFF;
}

#user-info .avator {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
}

#user-info .name img {
	height: 17px;
	width: 17px;
}

#user-info .name {
    margin-left: 4px;
	width: calc(100% - 40px);
}

#controller-list {
	height: calc(100vh - 46px);
}

#left-one .selected {
    color: white;
    background-color: #e7502b;
}

#left-one .toggle {
    width: 100%;
    text-align: center;
    height: 23px;
    padding-top: 3px;
    color: #999ea2;
    background-color: rgba(84, 97, 105, 0.32);
}

#left-one .feature {
    width: 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #999;
    opacity: 0.7;
    background: #2c3138;
}

#left-one .feature.selected {
    background-color: #20a53a;
    opacity: 1;
    color: #FFF;
}

#left-one .feature img {
    position: absolute;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 20px;
}
#left-one .feature p {
    position: absolute;
    top: 10px;
    font-size: 16px;
    left: 40px;
    height: 20px;
    line-height: 20px;
}

.tooltips {
	position: absolute;
	left: 50px;
	background-color: #20a53a;
	color: #FFF;
	height: 24px;
	line-height: 24px;
    font-size: 16px;
	padding: 0 8px;
	border-radius: 3px;
	z-index: 9999;
    word-break: keep-all;
}

.tooltips:after{
    content: "";
    position: absolute;
    top: 6px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid #20a53a;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
#iframe-content {
    height: 100vh;
    line-height: 0;
}